
.container {
  height: 100vh;
}

input::placeholder {
  font-style: italic;
}

ul {
  list-style: none;
}

label {
  border: none;
}

.clear {
  text-decoration: none;
}

.trash {
  margin-left: 20px;
}

.clear:hover {
  text-decoration: underline;
  color: black !important;
}

.dots {
  margin-left: auto !important;
}

.fa-solid {
  color: gray;
}
